<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Loveit" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Loveit</li>
          <%= render 'shared/devise_links' %>
        </ul>
      </div>
    </header>

    <%= render "shared/flash" %>

    <div id="main" class="main row medium-8 large-7 columns">
      <%= yield %>
    </div>

  </body>
</html>
